.quill:has(.ql-disabled) {
  position: relative;
}
.quill:has(.ql-disabled)::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--grey-190);
  display: block;
  position: absolute;
  z-index: 1;
}
